<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>new products</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       
        <h1>Create a new products</h1>

        <form action="/products" method="POST">
            <label for="name">name of product</label>
            <input type="text" name="name">
            <!-- <input type="text" name="color">
     -->
            <label for="price">price</label>
            <!-- <input type="checkbox" name="newproducts"> -->
            <input for="price" name="products"> 
            <label for="description">description</label>
            
            <input type="text" name="description"> 

            <input type="submit" value="Create">
        </form>

        <a href="/products/new">new products</a>
        <script src="" async defer></script>
    </body>
</html>